@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
	
}
#app {
	height: 100vh;
}
#main {
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
    .aside {
		width: 17%;
		p {
		color: #a6a6a6;

		}
	} 
	#splashPage {
		width: 66%;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			display: flex;
			align-items: center;
			padding-bottom: 3px;
			color: #a6a6a6;
			a {
				text-decoration: none;
				color: #a6a6a6;
			}
			i {
				font-size: 20px;
				margin-right: 15px;
			}
		}
	}
	#like {
		color: rgb(78, 91, 193) ;
		color: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(57,47,122,1) 100%);
	}
	hr {
		width: 100%;
		margin-inline: auto;
	}
	.Utents {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 98%;
		margin: 3vh 0 3vh 0;
		color: #a6a6a6 ;
	}
	
}
#splashPage {
	height: 100vh;
}
#artistFolder h3 {
	padding-top: 30px;
	padding-left: 20px;
}
#artists,
#albums {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-content: flex-start;
	overflow-y: scroll;
	height: 100vh;
	.card {
		width: 160px;
		background-color: #1c1c1c;
		padding: 10px;
		margin: 10px;
		h6 {
			color: #a6a6a6	
		}
		p {
			font-size: 0.8rem;
			color: rgb(159, 159, 159);
		}
	}

	.btn_audio-preview {
		// border-radius: 100%;
		// background-color: green;
		display: inline-flex;
	}
}

#albums img {
	border-radius: 4px;
	overflow: hidden;
	width: 98%;
	margin: 0 auto;
}
.resultCard {
	width: 18% !important;
	
	
}
.preview {
	color: green;
	background: transparent;
	border: none;
	position: absolute;
	bottom: 120px;
	right: 15px;
	width: 60px;
	height: 64px;
	
	i {
		font-size: 4rem;
	}
}
h3 {
	font-size: 1rem;
	margin-bottom: 0;
}
p {
	margin: 0;
	padding-block: 0.15rem;
	font-size: 0.8rem;
}
.track {
	height: fit-content;
}
.friends {
	width: 60px;
	border-radius: 50%;
}

// PLAYER SPOTIFY

#player-spotify {
	background-color: #191414;
	padding: 2rem 2rem;
	color: white;
	width: 100%;
	height: 100px;
}

#cover-player {
	height: 70px;
	width: 70px;
	border-radius: 3px;
}

#heart-player {
	display: flex;
	align-items: center;
}

#sub-test_player {
	color: grey;
}

#controls_player {
	font-size: 2rem;
}

#filled-bar {
	display: flex;

	#container_filler-bar {
		height: 18px;
		width: 70%;
		border-radius: 2px;
		background-color: grey;
	}
}

#player_right-side i {
	margin-right: 2rem;
}
