@import "../../node_modules/bootstrap/scss/bootstrap.scss" ;


body {
    width: 100vw;
    margin: 0;
    padding: 0;
    
}
h3 {
    font-size: 0.4rem;
}
.friends {
 width: 20px;
 border-radius: 50%;
}
.Utents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1vh 0 1vh 0;
    
   h3 {
    font-size: 0.3rem;
    margin-bottom: 0;
   }
   p {
    margin: 0;
    font-size: 0.25rem;
   }
   .track {
    height: fit-content;
   }
   
   
}
#main {
    width: 100%;
}



